body{

      }
      .isi{
           min-height: 80vh;
               
      }
      .head{
            min-height: 8vh;
          
      }
      .footer{
            min-height: 7vh;
            background-image: url('../image/bg.png');
            position: absolute;
            bottom: 0px;
      }
      .icon-login{
            height: 3vh;
      }
      .medsos{
        height: 2vh;

      }
      .btMed{
          background-color: unset;
      }
      address{
        font-size: 11px;
        color: #fff;
      }